h4 {
	text-align:center;
	text-decoration:underline;
}

body {
	background-color: black; 
	color:white; 
	font-family: Verdana, sans-serif;
	font-size:20px;
}

input[type=submit] {
	font-size:28px;
	background-color: red;
	font-weight:bold;
	height: 50px;
	width: 175px;
}

input[type=submit]:hover {
	 background-color:green;
}

form {
	padding-left:150px;
}

input[type=number] {
	height:50px;
	width: 250px;
	font-size: 24px;
	padding-left: 25px;
}

#directions {
	float: right; 
	margin-right:150px;
	border:10px ridge #ffffff; 
	background-color:#000000;
	width: 500px;	
	padding-right: 20px;
	padding-left: 20px;
	text-align:center;
}